body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 400px;
}

h1{
  text-shadow: 2px 3px 5px yellow;
}

.jumbotron{
  background-color: hsla(0, 100%, 50%, 0.615);
  border: 5px solid rgb(235, 221, 23);
}